a.lat:link { color: #009900; text-decoration: none; font-style: italic; 
	font-size: 80%; }
a.lat:visited { color: #009900; text-decoration: none; font-style: italic; 
	font-size: 80%; }
a.lat:active { color: #009900; text-decoration: none; font-style: italic; 
	font-size: 80%; }
a.lat:hover { color: #55BB55; text-decoration: underline; font-style: italic; 
	font-size: 80%; }
